@page "/about-us"
<div class="about-us m-4">
    <h1>DocAisle</h1>
    <h3>About Us</h3>
    <p>Welcome to DocAisle!</p>
    <p>
        At DocAile, we are dedicated to revolutionizing healthcare by providing convenient, accessible, and expert telemedicine services in the fields of dentistry and ophthalmology. <br />
        Our team of experienced professionals is committed to delivering high-quality care, whether you need a routine check-up, consultation, or specialized treatment.


    </p>
    <h3>Our Mission</h3>
    <p>
        Our mission is to bridge the gap between healthcare and technology, making healthcare services more accessible and convenient for everyone.<br />
        We believe that healthcare should be personalized, patient-centric, and easily accessible from the comfort of your home. <br />
        With a focus on dentistry and ophthalmology, we aim to improve the overall well-being of our patients by offering top-notch telemedicine services.
    </p>
    <h3>Why choose us</h3>
    <ul>
        <li>
            Expertise: Our team comprises skilled dentists and ophthalmologists who have years of experience in their respective fields. <br />
            You can trust our experts to provide accurate diagnoses and effective treatment plans.
        </li>
        <li>
            Convenience: We understand that your time is valuable. Our telemedicine platform allows you to access healthcare services without the hassle of traveling or waiting in a clinic. <br />
            Consult with our specialists from the convenience of your home or office.
        </li>
        <li>
            Patient-Centered Care: Your health and well-being are our top priorities. <br>
            We provide personalized care tailored to your specific needs, ensuring that you receive the attention and treatment you deserve.
        </li>
        <li>
            Cutting-Edge Technology: We leverage state-of-the-art telemedicine technology to deliver seamless and secure virtual consultations. <br />
            Our platform is designed with your privacy and security in mind.
        </li>
        <li>
            Comprehensive Services: Whether you're seeking dental care or ophthalmological expertise, we offer a wide range of services, from routine check-ups and preventive care to advanced treatments and surgeries.
        </li>

    </ul>
    <h3>Our Specialty</h3>
    <p> Our dental experts are here to address all your oral health needs, including dental cleanings, orthodontics, cosmetic dentistry, and more. We are dedicated to helping you achieve a healthy and beautiful smile.</p>

    <p>Ophthalmology: Our ophthalmologists are highly trained in diagnosing and treating eye conditions. Whether you require routine eye exams, treatment for eye diseases, or vision correction procedures, our specialists have you covered.</p>
</div>
<h3 class="m-3">Available Hospitals</h3>


    

  

    


@code{
    
}