@page "/change-password"

<!-- Change Password Form -->
<div class="form-container">
<h2>Change Password</h2>
<form >
    <div class="form-group mb-3">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" class="form-control" @bind="currentPassword" required />
    </div>

        <div class="form-group mb-3">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" class="form-control" @bind="newPassword" required />
    </div>

        <div class="form-group mb-3">
        <label for="confirmNewPassword">Confirm New Password</label>
        <input type="password" id="confirmNewPassword" class="form-control" @bind="confirmNewPassword" required />
    </div>
    <div class="text-center">
            <button type="submit" class="btn btn custom-btn">Change Password</button>

    </div>
  
</form>
</div>
<style>
    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh; 
    }
    .custom-btn{
        background-color: #1FC1C3;
        color: white;
        padding: 0.5em;
    }
</style>
@code {
    private string currentPassword;
    private string newPassword;
    private string confirmNewPassword;

   // private void ChangePassword()
    //{
        // Handle the submission of the "Change Password" form.
        // Verify the current password and ensure the new password matches the confirmation.
        //if (IsValidChange())
        //{
        //    var result = await _userManager.ResetPasswordAsync(doctor, resetToken, newPassword);
        //    if (result.Succeeded)
        //    {
        //        // Password reset successful.
        //    }

        //}

   // }

    private bool IsValidChange()
    {
        // Add logic here to validate the password change.
        // For example, you can check if the current password matches the doctor's stored password.
        // You should also ensure that the new password matches the confirmation.
        return true;
    }
}
