@page "/admin/dashboard/hospital-list"
<h3>Hospitals List</h3>


<div class="row">
    <div class="container">
        <div class="col-lg-4 m-4">
            <div class="card" style="box-shadow:0px 2px 15px rgba(0, 0, 0, 0.1)">
                <div class=" card-body">
                    <div class="card-title">
                        <h4> Nyeri Provincial Hospital</h4>
                    </div>


                    <p>Nyeri</p>

                    <img class="card-img-bottom" src="https://media.istockphoto.com/id/1312706504/photo/modern-hospital-building.webp?b=1&s=612x612&w=0&k=20&c=Oo5REUlhTj1EAtli5LXq4FIrQN3KfZ2V6M3tV-uWK64=" />

                    <button class="btn btn-dark mt-3">Remove Hospital</button>
                </div>
            </div>
        </div>
    </div>
    


</div>



@code {

}
