@page "/"

<PageTitle>Index</PageTitle>
<main>
    <div class="hero-section">
        <div class="container">
            <div class="row">
                <div class="logo col-lg-4 col-md-6 col-sm-10 mb-4 text-center">
                    <img src="https://api.logo.com/api/v2/images?logo=logo_9fafefd9-1c3d-46e0-8459-0186396f93cb&format=webp&margins=100&quality=60&width=400&height=400&fit=contain&u=1696235420" class="img-fluid rounded-circle" alt="Logo">
                </div>
                <div class="paragh col-lg-8 col-md-6 col-sm-10 mt-5 text-center">
                    <h1>Our Services Are One Click Away</h1>
                    <p>Save yourself the hustle and make your life easier by letting us help you</p>
                    <div class="col-sm-12">
                        <a href="/patient/dashboard/appointment" class="btn btn-lg custom-button mt-4 mb-4">Book an appointment</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <div class=" key-features text-center pt-3 pb-3">
       <h1>Key Features</h1>
        <div class=" cards row d-flex justify-content-around mt-4">
          <div class="col-lg-3 col-sm-10 mb-4" >
            <div class="card">
                <div class="card-body">
                    <p class="card-text">First and easy way to book an appointment</p>
                </div>

            </div>
          </div>
            <div class="col-lg-3 col-sm-10 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Competent and vetted specialist available easily at one click</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-10 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Proven work through testimonials from clients</p>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="about-us text-center pt-3">

       <h1  >About Us</h1>
        <p class="pt-4">  Our mission is to provide first and efficient healthcare for those in need. </p>
        <p class="pt-4">Our team of experienced professionals is committed to delivering high-quality care, whether you need a routine check-up, consultation, or specialized treatment </p>

    </div>
    <div class="specialty">
       
        <div class="container mt-4 p-4 mb-3">
            <h2 class="ml-6 p-4">Our Specialty</h2>

            <div class="row d-flex justify-content-around mt-4 ">
                <div class="col-lg-3 col-sm-10 mb-4">
                    
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"> We offer ophthalmology and orthodontics services</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-10 mb-4">
                    <div class="card">
                        <div class="card-title p-3">Ophthalmology</div>
                        <img class="card-img-top" src="https://media.istockphoto.com/id/1425844400/photo/look-at-the-light.webp?b=1&s=612x612&w=0&k=20&c=FXdbNKfYEHRE8MwXpYDkIE4Cl6FMd06IbYce9ERUVgc=" alt="Eye examination" />
                        <div class="card-body">
                            
                            <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn text-center">Read more</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-sm-10 mb-4">
                    <div class="card">
                        <div class="card-title p-3">Dentistry</div>

                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2021/08/10/13/43/orthodontics-6536026_640.jpg" alt="Dental examination" />
                        <div class="card-body">
                            
                            <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="btn btn text-center">Read more</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>
    <div class="testimonies ">
        <h1 class="text-center pt-3" style="color:white">Testimonials</h1>
        <div class="container">
            <div class="row d-flex justify-content-around mt-4">
                <div class="col-lg-4 col-sm-10 mb-4">

                <div class="card " style="background-color:white">
                    <div class="card-body">
                        <div class=" card-title"> Our Testimonials</div>
                        <p class="card-text"> These are the feedbacks we received from the customers over the years</p>
                    </div>
                </div>
              </div>
                <div class="col-lg-4 col-sm-10 mb-5">

                    <div class="card" style="background-color:white">
                        <div class="card-body">
                            <div> <image src="https://www.searchenginejournal.com/wp-content/uploads/2021/08/a-guide-to-star-ratings-on-google-and-how-they-work-6123be39b9f2d-sej.jpg" class="img-fluid" style="height:4rem"/></div>
                            <p class="card-text"> The services was first and efficient, I highly recommend</p>
                            <div class="card-footer">
                                <p style="color:black">Anna</p>
                                <footer class="blockquote-footer">Patient since 2020</footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>

    </div>
    <div class="partners">
        <h1 class="text-center pt-3">Our Partners</h1>
        <div class="container">
            <div class="row d-flex justify-content-around mt-4">
            <div class="col-lg-2 col-sm-5 mb-4">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title">AAR</div>
                        <img class="card-img-bottom" src="https://aar-insurance.com/ke/assets/images/AAR_logo.svg" alt="AAR logo">
                    </div>
                </div>
           </div>
           <div class="col-lg-2 col-sm-5 mb-4">
                <div class="card">
                     <div class="card-body text-center">
                         <div class="card-title">KCB</div>
                        <img class="card-img-bottom" src="https://www.westgate.co.ke/wp-content/uploads/2015/09/KCB.png" alt="KCB logo">
                       </div>
                  </div>
            </div>
            <div class="col-lg-2 col-sm-5 mb-4">
                  <div class="card">
                        <div class="card-body text-center">
                             <div class="card-title">CIC</div>
                             <img class="card-img-bottom" src="https://www.cicinsurancegroup.com/wp-content/uploads/2021/11/cic-logo.png" alt="CIC logo">
                        </div>
                  </div>
           </div>
        </div>
      </div>
   </div>
    <div class="collaboration mt-3">
       <h1 class="text-center p-3" style="color:white"> Work With Us</h1>
       <div class=" container d-flex flex-column col-5 justify-content-center">
            <button class="btn btn-lg pat mb-3"> Partner with Us</button>
            <a href="/doctor/register-doctor" class="btn btn-lg reg  mb-6">Register as a Doctor</a>

        </div>
         
   </div>
</main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-light text-muted ">
        <!-- Section: Contacts  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
               <div class="row mt-3">
                 <!-- Grid column -->
                    <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4 mt-4" style="color:black">
                        <!-- Content -->
                        <h4 class="fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>DocAisle
                        </h4>
                        <p>
                            Made For You
                        </p>
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home me-3"></i> Nyeri, Kenya</p>
                        <p >
                        <i class="fas fa-envelope me-3" ></i>
                            info@DocAisle.com
                        </p>
                        <p><i class="fas fa-phone me-3"></i> 0712345678</p>
                    <div class="container pt-4 " style=" color:black">
                        <!-- Section: Social media -->
                        <section class="mb-4 ">
                            <!-- Facebook -->
                            <a class="btn btn-link btn-floating btn-lg text-dark ml-0"
                               href="#!"
                               role="button"
                               data-mdb-ripple-color="dark">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                            <!-- Twitter -->
                            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                               href="#!"
                               role="button"
                               data-mdb-ripple-color="dark">
                                <i class="fab fa-twitter"></i>
                            </a>

                            <!-- Google -->
                            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                               href="#!"
                               role="button"
                               data-mdb-ripple-color="dark">
                                <i class="fab fa-google"></i>
                            </a>

                            <!-- Instagram -->
                            <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                               href="#!"
                               role="button"
                               data-mdb-ripple-color="dark">
                                <i class="fab fa-instagram"></i>
                            </a>

                        </section>
                        <!-- Section: Social media -->
                    </div>
                </div>
                   
                    <!-- Grid container -->
                    <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-5" style="color:black">
                        <!-- Links -->
                        <h6 class=" fw-bold mb-4">
                            Home
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Doctors</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Services</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Our Speciality</a>
                        </p>
                        
                </div>
                    <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5" style="color:black">
                        <!-- Links -->
                        <h6 class=" fw-bold mb-4">
                            Company
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Community</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Jobs</a>
                        </p>


                </div>
                    <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 mt-5" style="color:black">
                        <!-- Links -->
                        <h6 class="fw-bold mb-4">
                            Legal
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Terms of use</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Privacy policy</a>
                        </p>
                        
                        
                </div>
                   
           
               </div>
            </div>
            
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="#">Yvie.com</a>
        </div>
        <!-- Copyright -->
    </footer>
  




<style>
    .hero-section{
        background-color: #0A253B;
     
    }
    img {
        max-width: 100%;
        height: auto;
        border-radius: 50%;
        
    }

   
    .custom-button ,.reg{
        background-color: #1FC1C3;
        font-size: 18px;
        padding: 12px 40px;
        color: white;
        border: none;
        cursor: pointer;
    }
    .container {
        font-family: 'Kokoro';
        color: white;
        padding: 0;
    }

    h1 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        font-style: normal;
    }

    p {
        font-size: 18px;
        line-height: 22px;
        font-style:normal;
       
    }
   p.card-text {
       color:black;
       padding:1em;

    }
   .key-features{
       background-color:white;
       color:black;
       font-family: 'Kokoro';
       height: 30rem;
       
   }
   .card{
        background-color:#f8f9fa;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
   }
   .cards{
        height:10rem;
   }
   .about-us{
        color:white;
        height:20rem;
        background-color: #0A253B;
   }
   
   .specialty {
        background-color:white;
        height:auto;
   }
      
   a.btn{
        border-color:black;
   }
   h2{
        color:black;
        font-style: normal;
   }
   .card-title{
        color: black;
        font-size: 24px;
   }

   .testimonies{
        height:auto;
        background-color: #0A253B;
   }
   .partners{
        background-color: white;
        height:auto;
   }
   img.card-img-bottom{
        height:50px;
        width:auto;
        align-items:center;
   }
    
  .pat{
        background-color: #F56021;
        font-size: 18px;
        padding: 12px 40px;
        color: white;
        border: none;
        cursor: pointer
   }
   .collaboration{
        height:20em;
        background-color: #0A253B;
   }
   footer{
        color:black;
        font-family: 'Kokoro'
   }
   a.text-reset{
        text-decoration:none;
   }
</style>
