@page "/patient/dashboard/payment"
<div class="text-center mt-5 pay">
    <div class="container">

        <p>Consultation fee: <span>500</span></p>
        <p>Treatment cost: <span>1000</span></p>

        <h3>Total Cost <span>ksh 1500</span></h3>
        <button class="btn btn-dark text-black" style="background-color:white">Pay</button>
    </div>

</div>
